<div id="chart-container">
  <%= column_chart @order_details.group_by_day(:created_at, format: "%d/%m").sum(:price) %>
  <div class="orders-summary">
    <span class="bold">TỔNG:</span> <%= number_to_currency(@order_details.sum(:price), unit: "VNĐ", delimiter: ",", format: "%n %u", precision: 0) %>
  </div>
</div>
<div class="horizontal-menu">
  <% @cases.each do |filtered_case| %>
    <div class="case-item">
      <img src="<%= filtered_case.image %>">
      <div>
        <span class="bold"><%= filtered_case.name %><br></span>
      </div>
      <div class="control">
        <a class="modal-trigger" href="#modal1" data-id="<%= filtered_case.id %>">
          <img src="<%= image_url('remove-icon.png') %>">
        </a>
        <a class="js-create-order" data-id="<%= filtered_case.id %>">
          <img src="<%= image_url('add-icon.png') %>">
        </a>
      </div>
    </div>
  <% end %>
</div>
<div class="materialize">
  <div id="modal1" class="modal bottom-sheet">
  </div>
</div>
