<div id="chart-container">
  <%= render partial: 'admin/orders/chart', locals: {order_details: @order_details, chart_type: CHART_TYPE[params[:chart_type] || 1]} %>
</div>
<div class="tabs">
  <span class="tab active" data-target="#make-order">Bán Hàng<div class="underline"></div></span><span class="tab" data-target="#current-orders">Hóa Đơn<div class="underline"></div></span>
</div>
<div class="horizontal-menu tab-content" id="make-order">
  <% @cases.each do |filtered_case| %>
    <div class="case-item">
      <img src="<%= filtered_case.image %>">
      <div style="position: relative;">
        <span class="bold ellipsis"><%= filtered_case.name %><br></span>
        <% unless filtered_case.is_in_sale %>
          <%= filtered_case.formatted_price %>
        <% else %>
          <span class="old-price"><%= filtered_case.formatted_price %></span>
          <span><%= filtered_case.formatted_sale_price %></span>
        <% end %>
        <div class="control">
          <a class="js-remove-order" data-id="<%= filtered_case.id %>">
            <img src="<%= image_url('remove-icon.png') %>">
          </a>
          <a class="js-create-order" data-id="<%= filtered_case.id %>">
            <img src="<%= image_url('add-icon.png') %>">
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="current-orders" class="hide tab-content">
  <div class="materialize">
    <table class="striped no-padding">
      <% @orders_in_month.each do |order_detail| %>
        <tr>
          <td>
            <img src="<%= order_detail.case_category.case.image %>">
          </td>
          <td>
            <%= order_detail.quantity %>
          </td>
          <td>
            <%= order_detail.case_category.category.name %>
          </td>
          <td>
            <%= order_detail.created_at.strftime(SHORT_DATE_FORMAT) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="materialize">
  <div id="modal1" class="modal bottom-sheet">
  </div>
</div>
<script>
    function changeChartType(type) {
        $.ajax({
            url: "change_chart_type/" + type,
            type: 'GET',
            data_type: 'JSON',
            success: function (data) {
                $('#chart-container').html(data);
            }
        })
    };
</script>
