<div id="chart-container">
  <%= render partial: 'admin/orders/chart', locals: {order_details: @order_details} %>
</div>
<div class="horizontal-menu">
  <% @cases.each do |filtered_case| %>
    <div class="case-item">
      <img src="<%= filtered_case.image %>">
      <div>
        <span class="bold"><%= filtered_case.name %><br></span>
      </div>
      <div class="control">
        <a class="js-remove-order" data-id="<%= filtered_case.id %>">
          <img src="<%= image_url('remove-icon.png') %>">
        </a>
        <a class="js-create-order" data-id="<%= filtered_case.id %>">
          <img src="<%= image_url('add-icon.png') %>">
        </a>
      </div>
    </div>
  <% end %>
</div>
<div class="materialize">
  <div id="modal1" class="modal bottom-sheet">
  </div>
</div>
