<div style="min-height: 510px">
  <% @cases.each do |filtered_case| %>
    <a href="<%= case_path(filtered_case) %>">
      <div class="product-item">
        <img src="<%= filtered_case.image %>">
        <div style="font-size: 14px; margin-top: 5px">
          <%= filtered_case.name %><br>
          <% if filtered_case.is_available && filtered_case.is_in_sale %>
            <div class="sale-ribbon">
              Sale!
            </div>
          <% elsif !filtered_case.is_available %>
            <div class="sale-ribbon" style="background-color: red">
              Hết hàng
            </div>
          <% end %>

          <% unless filtered_case.is_in_sale %>
            <%= filtered_case.formatted_price %>
          <% else %>
            <span style="text-decoration: line-through; color: #5A5A5A;"><%= filtered_case.formatted_price %></span>
            <span><%= filtered_case.formatted_sale_price %></span>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>
<%= paginate @cases, left: 1, right: 3, params: {controller: 'cases', action: 'filter_cases'} %>
<script>
    $(".pagination a").click(function (event) {
        event.preventDefault();
        $('.filtered-products').load($(this).attr('href'), function (data) {
            $(this).html(data);
        });
    });
</script>