<div style="padding: 0 20px;">
  <input type="hidden" value="1" id="current-page">
  <div class="materialize horizontal-menu" data-category-id="<%= @category_id %>" id="category-control">
    <%= link_to cases_path() do %>
      <div class="chip">
        All
        <i class="close material-icons">phone_iphone</i>
      </div>
    <% end %>
    <% @categories.each do |category| %>
      <%= link_to cases_path(category_id: category.id) do %>
        <div class="chip">
          <%= category.name %>
          <i class="close material-icons">phone_iphone</i>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="filtered-products">
    <%= render 'mobile_filtered_products', cases: @cases %>
  </div>
  <div class="materialize center-text hide" id="preloader">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="materialize">
    <a class="btn-floating btn-large" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');"><i class="material-icons">arrow_upward</i></a>
  </div>
</div>
<script>
    var canLoadMore = true;
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 130 && canLoadMore) {
            $('#preloader').show();
            window.canLoadMore = false;
            page = parseInt($('#current-page').val()) + 1;
            var url = new URL('<%= j request.base_url %><%= j mobile_filter_cases_cases_path() %>');
            url.searchParams.set('page', page);
            url.searchParams.set('category_id', $('#category-control').data('category-id'));
            $.ajax({
                url: url,
                success: function (result) {
                    $('#filtered-products').append(result);
                    $('#preloader').hide();
                    window.canLoadMore = true;
                    if (result == '') {
                        window.canLoadMore = false;
                    }
                }
            });
            $('#current-page').val(page);
        }
        ;
    });
</script>