<div class="filter">
  <div class="filter__title">
    Shop by
  </div>
  <div class="filter__control">
    Collection
    <ul>
      <li class="<%= @category_id == 0 ? 'active' : '' %>">
        <a href="<%= cases_path(order: @order) %>">
          All
        </a>
      </li>
      <% @categories.each do |category| %>
        <li class="<%= @category_id == category.id ? 'active' : '' %>">
          <a href="<%= cases_path(category_id: category.id, order: @order) %>">
            <%= category.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="filtered-products">
  <div class="order-control">
    <div class="dropdown">
      <a>
        <%= @order.present? ? @available_orders[@order] : 'Sort by' %>
      </a>
      <div class="dropdown-content">
        <ul>
          <% @available_orders.each do |k, v| %>
            <li>
              <a class="<%= k == @order ? 'active' : '' %>" href="<%= cases_path(category_id: @category_id, order: k) %>"><%= v %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <% @cases.each do |filtered_case| %>
      <div class="product-item">
        <img src="<%= filtered_case.image %>">
        <%= filtered_case.name %><br>
        <%= filtered_case.formatted_price %>
      </div>
    <% end %>
  </div>
  <%= paginate @cases, left: 1, right: 3 %>
</div>