<div class="filter">
  <div class="filter__title">
    Shop by
  </div>
  <div class="filter__control">
    Collection
    <ul>
      <li class="<%= @category_id == 0 ? 'active' : '' %>">
        <a href="<%= cases_path(order: @order) %>">
          All
        </a>
      </li>
      <% @categories.each do |category| %>
        <li class="<%= @category_id == category.id ? 'active' : '' %>">
          <a href="<%= cases_path(category_id: category.id, order: @order) %>">
            <%= category.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="filtered-products">
  <div class="order-control">
    <div class="dropdown">
      <a>
        <%= @order.present? ? @available_orders[@order] : 'Sort by' %>
      </a>
      <div class="dropdown-content">
        <ul>
          <% @available_orders.each do |k, v| %>
            <li>
              <a class="<%= k == @order ? 'active' : '' %>" href="<%= cases_path(category_id: @category_id, order: k) %>"><%= v %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <% @cases.each do |filtered_case| %>
      <a href="<%= case_path(filtered_case) %>">
        <div class="product-item">
          <img src="<%= filtered_case.image %>">
          <div style="font-size: 14px; margin-top: 5px">
            <%= filtered_case.name %><br>
            <% unless filtered_case.is_in_sale %>
              <%= filtered_case.formatted_price %>
            <% else %>
              <span style="text-decoration: line-through; color: #5A5A5A;"><%= filtered_case.formatted_price %></span>
              <span><%= filtered_case.formatted_sale_price %></span>
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <%= paginate @cases, left: 1, right: 3 %>
</div>