<div class="filter">
  <input type="hidden" name="filter_url" value="<%= request.base_url %><%= filter_cases_cases_path(build_url_params) %>">
  <div class="filter__title">
    Shop by
  </div>
  <div class="devider"></div>
  <div class="filter__control materialize">
    <span class="bold">Collection</span>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Ốp Lưng
          <div style="margin-left: auto;"><i class="material-icons">keyboard_arrow_down</i></div>
        </div>
        <div class="collapsible-body">
          <ul>
            <li class="bold-active">
              <a href="" data-name="category_id" data-value="0">
                All
              </a>
            </li>
            <% @categories.each do |category| %>
              <li>
                <a href="" data-name="category_id" data-value="<%= category.id %>">
                  <%= category.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Cường Lực
          <div style="margin-left: auto;"><i class="material-icons">keyboard_arrow_down</i></div>
        </div>
        <div class="collapsible-body">
          <ul>
            <li class="bold-active">
              <a href="" data-name="category_id" data-value="-1">
                All
              </a>
            </li>
            <% @tempered_glass_categories.each do |category| %>
              <li>
                <a href="" data-name="category_id" data-value="<%= category.id %>">
                  <%= category.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="devider"></div>
  <div class="filter__control materialize">
    <span class="bold">Filter</span>
    <p>
      <label>
        <input type="checkbox" data-name="is_available"/>
        <span>Còn hàng</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" data-name="is_sale"/>
        <span>Giảm giá</span>
      </label>
    </p>
  </div>
  <div class="devider"></div>
  <div class="filter__control materialize">
    <span class="bold">Order</span>
    <% @available_orders.each do |k, v| %>
      <p>
        <label>
          <input name="order" type="radio" data-name="order" data-value="<%= k %>" <%= k == @order ? 'checked' : '' %>/>
          <span><%= v %></span>
        </label>
      </p>
    <% end %>
  </div>
</div>
<div class="filtered-products">
  <%= render 'filtered_products', locals: {cases: @cases, available_orders: @available_orders, category_id: @category_id} %>
</div>
<script>
    $("input[type='checkbox']").change(function () {
        $(this).data('value', $(this).is(':checked'))
        reloadFilteredCases(this);
    });

    $("input[type='radio']").change(function () {
        reloadFilteredCases(this);
    });

    $(".filter a").click(function (event) {
        event.preventDefault();
        reloadFilteredCases(this);
        $('.filter li').removeClass('bold-active');
        $(this).parent('li').addClass('bold-active');
    });

    function reloadFilteredCases(element) {
        url_container = $('input[name="filter_url"]')
        url_string = url_container.val();
        var filter_name = $(element).data('name');
        var filter_value = $(element).data('value');
        var url = new URL(url_string);
        url.searchParams.set(filter_name, filter_value);
        url_container.val(url.href);
        $('.filtered-products').load(url.href, function (data) {
            $(this).html(data);
        });
    };

    $('.collapsible-header').click(function () {
        icon = $(this).find('.material-icons');
        if(icon.text() == 'keyboard_arrow_down') {
            icon.html('keyboard_arrow_up');
        } else {
            icon.html('keyboard_arrow_down');
        }
    });
</script>