<div class="navigation clearfix">
  <div class="navigation--breadcrumb">
    <%= render_breadcrumbs :separator => ' / ' %>
  </div>
  <div class="pull-right">
    <a href="<%= @case.previous ? case_path(@case.previous) : 'javascript:void(0)' %>">
      <span><i class="material-icons">keyboard_arrow_left</i>Prev</span>
    </a> |
    <a href="<%= @case.next ? case_path(@case.next) : 'javascript:void(0)' %>">
      <span>Next<i class="material-icons">keyboard_arrow_right</i></span>
    </a>
  </div>
</div>
<div style="padding: 20px 45px 0">
  <div class="product-image">
    <img src="<%= @case.image %>" id="big-image">
    <div class="thumbnail-list">
      <img src="<%= @case.image %>" class="thumbnail active">
      <% @case.case_images.each do |case_image| %>
        <img src="<%= case_image.image_url %>" class="thumbnail">
      <% end %>
    </div>
  </div>
  <div class="product-detail">
    <div class="product-detail--title">
      <%= @case.name %>
    </div>
    <div class="product-detail--price">
      <% unless @case.is_in_sale %>
        <%= @case.formatted_price %>
      <% else %>
        <span class="old-price"><%= @case.formatted_price %></span>
        <span><%= @case.formatted_sale_price %></span>
      <% end %>
    </div>
    <div class="product-detail--quantity">
      <div class="materialize">
        <% @case.case_categories.includes(:category).order('categories.name').each do |case_category| %>
          <div class="chip">
            <%= case_category.category.name %>
            <i class="close material-icons">phone_iphone</i>
          </div>
        <% end %>
      </div>
    </div>
    <div class="product-detail--quantity">
      <div class="product-detail--quantity--title">
        Description
      </div>
      <p><%= @case.description %></p>
    </div>
  </div>
</div>
<script>
    $('.thumbnail').click(function () {
        image = $(this).attr('src');
        $('.thumbnail').removeClass('active');
        $(this).addClass('active');
        $('#big-image').attr('src', image);
    });
</script>