<div class="banner">
  <div class="banner__content">
    <div class="banner__content--text">
      <div style="font-weight: 700; font-size: 99px; line-height: 1em;">PRICE DROP!</div>
      <div style="font-size: 31px; word-spacing: 2px; padding-left: 5px">
        Up to 30% Off Our Products!
      </div>
    </div>
    <a class="banner__content--button" style="color: white" href="<%= cases_path %>">
      Shop Now
    </a>
  </div>
  <%= image_tag("banner.jpg") %>
</div>
<div class="black-block">
  New Arrival Cases
</div>
<div class="products-section">
  <div class="products-section--left-arrow">
    <a href="javascript:void(0)" >
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
  </div>
  <div class="products-section--right-arrow">
    <a href="javascript:void(0)" >
      <i class="material-icons">keyboard_arrow_right</i>
    </a>
  </div>
  <div class="products-section__products-list owl-carousel">
    <% @new_cases.each do |new_case| %>
      <a href="<%= case_path(new_case) %>">
        <div class="products-section__products-list--product-item">
          <img src="<%= new_case.image %>">
          <div class="products-section__products-list--product-item--title">
            <span class="bold"><%= new_case.name %></span>
            <br>
            <% unless new_case.is_in_sale %>
              <%= new_case.formatted_price %>
            <% else %>
              <div class="products-section__products-list--product-item--ribbon">
                Sale!
              </div>
              <span class="old-price"><%= new_case.formatted_price %></span>
              <span><%= new_case.formatted_sale_price %></span>
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
<div class="black-block">
  Best Sales Cases
</div>
<div class="products-section">
  <div class="products-section--left-arrow">
    <a href="javascript:void(0)">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
  </div>
  <div class="products-section--right-arrow">
    <a href="javascript:void(0)">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>
  </div>
  <div class="products-section__products-list owl-carousel">
    <% @top_sales_cases.each do |top_sales_case| %>
      <a href="<%= case_path(top_sales_case) %>">
        <div class="products-section__products-list--product-item">
          <img src="<%= top_sales_case.image %>">
          <div class="products-section__products-list--product-item--title">
            <span class="bold"><%= top_sales_case.name %></span>
            <br>
            <% unless top_sales_case.is_in_sale %>
              <%= top_sales_case.formatted_price %>
            <% else %>
              <div class="products-section__products-list--product-item--ribbon">
                Sale!
              </div>
              <span class="old-price"><%= top_sales_case.formatted_price %></span>
              <span><%= top_sales_case.formatted_sale_price %></span>
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>