<input type="hidden" name="case_id" value="<%= case_id %>">
<div class="modal-content">
  <h5>NHẬP ĐƠN</h5>
  <div class="horizontal-menu">
    <p>
      DÒNG SẢN PHẨM:
      <% categories.each_with_index do |category, index| %>
        <label>
          <input name="category" type="radio" value="<%= category.id %>" <%= 'checked' if index == 0 %>/>
          <span><%= category.name %></span>
        </label>
      <% end %>
    </p>
  </div>
  <span>NGÀY BÁN:
      <input name="created_at" type="text" class="datepicker" value="<%= Time.now.strftime(LONG_DATE_FORMAT) %>">
      <img src="<%= image_url('calendar-icon.png') %>" style="width: 30px;" onclick="$(this).parent().find('.datepicker').datepicker('show')">
    </span>
  <span style="margin-top: 10px;">SỐ LƯỢNG: <input type="number" name="quantity" class="quantity" value="1"></span>
  <span style="margin-top: 10px;">CHI PHÍ KHÁC: <input type="number" name="extra_price" class="quantity" value="0"></span>
  <button class="pill-button" onclick="createOrder()">Tạo</button>
</div>
<script>
    function createOrder() {
        M.Modal.getInstance($('#modal1')).close();
        url = '/admin/orders'
        $.ajax({
            url: url,
            type: 'POST',
            data_type: 'JSON',
            data: {
                case_id: $('input[name="case_id"]').val(),
                category_id: $('input[name="category"]').val(),
                created_at: $('input[name="created_at"]').val(),
                quantity: $('input[name="quantity"]').val(),
                extra_price: $('input[name="extra_price"]').val()
            },
            success: function (data) {
                $('#chart-container').html(data);
            }
        })
    };
</script>
